@import url("https://fonts.googleapis.com/css2?family=Freehand&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
  display: inline-block;
}
.brand {
  color: rgba(255, 255, 255, 0.897);
  font-family: "Freehand", cursive;
  font-size: 2em;
}
.brandname {
  color: rgba(113, 179, 28, 0.897);
  font-family: "Freehand", cursive;
  font-size: 2em;
}

.navbar {
  display: flex;

  color: antiquewhite;
}
#navv {
  height: 10vh;
}

.navbar-nav {
  list-style: none;
  text-decoration: none;

  width: 40%;
  margin-left: auto;
  justify-content: flex-end;
  justify-content: space-evenly;
}
.navbar-brand {
  font-family: "Freehand", cursive;
  width: 30%;
  margin-right: 30%;
  text-align: center;
  color: rgba(113, 179, 28, 0.897);
  align-self: center;
}
.nav-item > a {
  justify-content: space-evenly;
  color: rgb(255, 255, 255);
}
.nav-item > a:hover {
  color: rgba(113, 179, 28, 0.897);
}
.coupon {
  background-color: rgba(113, 179, 28, 0.897);
}
.coupon > p {
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.code {
  color: rgb(214, 21, 47);
  font-weight: bold;
  font-size: larger;
}
.hero {
  margin-top: 15vh;
  /* border: 1px solid; */
}

.heropic {
  /* padding-left: 15vw; */
  background-image: url("./images/plant.png");
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  justify-content: center;
  justify-items: center;
  height: 70vh;
  /* border: 1px solid; */
  animation: plant 4s ease-in-out 0.2s infinite alternate;
  /* width:30vw ; */
}

.buy > .btn {
  background-color: rgb(25, 158, 32);
}
@keyframes plant {
  0% {
    background-image: url("./images/plantuntilt.png");
  }
  20% {
    background-image: url("./images/plantuntilt.png");
  }
  40% {
    background-image: url("./images/plant.png");
  }
  60% {
    background-image: url("./images/plant.png");
  }
  80% {
    background-image: url("./images/plant\ up.png.webp");
  }
  100% {
    background-image: url("./images/plant\ up.png.webp");
  }
}
.p-5 {
  margin-top: 10vh;
  height: 60vh;
  background-color: #fff;
  color: black;
}
h1 {
  color: rgb(113, 179, 28, 0.897);
}

img {
  height: 50vh;
}

.copy {
  color: rgb(255, 255, 255);
}
.card > img {
  animation: cards 0.8s ease-in-out 0.2s infinite alternate;
}
@keyframes cards {
  from {
  }
  to {
    transform: scale(1.1);
  }
}

.plantparts {
  animation: plantprt 1s ease-in-out 0.2s 1 alternate;
}
@keyframes plantprt {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footer > p {
  color: #fff;
}
.fab {
  color: rgb(255, 255, 255);
}
.cartbtn:hover {
  background-color: rgba(43, 68, 9, 0.897);
}
.social > .btn:hover {
  color: black;
  background-color: rgb(113, 179, 28, 0.897);
}

@media screen and (max-width: 800px) {
  .nav-item > a {
    display: none;
  }
  .nav-item {
    display: flex;
  }
  .heropic {
    height: 40vh;
  }
}
@media screen and (max-width: 600px) {
  .nav-item > a {
    display: none;
  }
  .nav-item {
    display: flex;
  }
  .heropic {
    height: 70vh;
  }
}
